.input_box {
  display: flex;      /* Aktiviert Flexbox */
  flex-wrap: wrap;    /* Erlaubt Zeilenumbrüche */
  margin: 5px;
  width: 50%;
  height: auto;       /* Wichtig: Höhe passt sich dem Inhalt an */
}

.drag_drop_container {
  display: flex;      /* Aktiviert Flexbox */
  flex-wrap: wrap;    /* Erlaubt Zeilenumbrüche */
  gap: 10px;          /* Abstand zwischen den Elementen */
  padding: 10px;
  border: 2px solid #ccc;
  width: 70%;
  height: auto;       /* Wichtig: Höhe passt sich dem Inhalt an */
}

.draggable_item {
    padding: 2px;
    border: 1px solid #ddd;
}
